backend/vendor/** linguist-vendored
frontend/node_modules/** linguist-vendored

*.php linguist-detectable=false
*.blade.php linguist-detectable=false

*.ts linguist-detectable=true
*.tsx linguist-detectable=true
